<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ordinador.pablo.calculadora">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--- Activitat Principal -->
        <activity android:name=".ActivitatPrincipal">
            <intent-filter android:label="@string/launcher"> <!---Redirecciona a la string a la carpeta values per a saber el nom de la app -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--- Activitat del Menú -->
        <activity android:name=".menuopcions"></activity>
    </application>
</manifest>